<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        {% if pages.homepage is not null %}
            <a class="brand" href="{{ url_for(pages.homepage.metadata.url) }}">{{ project.siteName }}</a>
        {% endif %}
        <ul class="nav" role="navigation">
            {% for thePage in pages.mainNavigation %}
                <li class="{{ thePage == page ? 'active' : '' }} {% if thePage.hasChildren %}dropdown{% endif %}">
                    {% if thePage.hasChildren %}
                        <a href="{{ url_for(thePage.metadata.url) }}" class="dropdown-toggle" data-target="#" role="button" data-toggle="dropdown">
                            {{ thePage }} <b class="caret"></b>
                        </a>
                    {% else %}
                        <a href="{{ url_for(thePage.metadata.url) }}" role="button">
                            {{ thePage }}
                        </a>
                    {% endif %}
                    {% if thePage.hasChildren %}
                        <ul class="dropdown-menu">
                            {% for children in pages.getChildrenOf(thePage.metadata.url) %}
                                <li><a href="{{ url_for(children.metadata.url) }}" class="{{ children == page ? 'active' : '' }}">{{ children }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>